{{ define "index" }}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Datastar fat morph with event steaming</title>
    <script
      type="module"
      src="https://cdn.jsdelivr.net/gh/starfederation/datastar@v1.0.0-RC.7/bundles/datastar.js"
    ></script>
  </head>
  <body data-init="@get('/stream')">
    {{ block "main" . }}
    <main id="main">
      <h1>Datastar fat morph</h1>
      <p>Client ID: {{ .ClientID }}</p>
      <p>Counter: {{ .Counter }}</p>
      <button data-on:click="@post('/increment')">Increment</button>
      <h2>Increment clients</h2>
      <ul id="inc-list">
        {{ range .IncIDs }}
        <li>{{ . }}</li>
        {{ end }}
      </ul>
    </main>
    {{ end }}
  </body>
</html>
{{ end }}
